* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
}

body {
    font-family: 'Roboto';
    background-color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-width: 920px;
}

html {
    height: 100%;
}

.logo {
    font-size: xx-large;
    font-weight: bold;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color:#F2F2F2;
    flex-direction: column;
}

.logo {
    cursor: pointer;
    margin-right: auto;
}

.navLinks {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-top: 7px;
    
}

.navLinks li {
    font-size: large;
    font-weight: bold;
    padding-bottom: 7px;

}

.navLinks a {
    text-decoration: none;
    color: black;
}

.navLinks a:visited {
    color: black;
}

.navLinks li a:hover {
    color: #ff5c0f;
}

.button {
    padding: 9px 25px;
    background-color: #20a8b4;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    width: 100%;
    text-decoration: none;
}

.button:hover {
    background-color: #ff5c0f;
}

.content {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    width: 100%;
}

.contentTextOne {
    display: flex;
    color: black;
    font-size: xx-large;
    font-weight: bold;

}

.contentTextTwo {
    color: black;
    font-size: medium;
    font-weight: bold;
   
}

.codeImage {
    display: none;

}

main  {
    height: 100%;
    display: flex;
    width: 100%;
    align-items: center;
}

.contentGroup {
    margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
    header {
        display: flex;
        justify-content: space-between;
        padding: 20px;
        background-color:#F2F2F2;
        flex-direction: row;
    }
    .button {
        width: auto;
    }
    .navLinks {
        display: flex;
        flex-direction: row;
        list-style: none;
        padding-top: 7px;
        
    }
    .navLinks li {
        margin-right: 10px;
    
    }
    .learnMoreButton {
        max-width: 135px;
    }
    .codeImage {
        display: block;
    
    }
    
}

